@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
    background: #dbeced;
}

.main {
    width: 1500px;
    height: 800px;
    padding: 50px;
    border-radius: 20px;
    background: white;
    position: relative;
}

.label1 {
    text-align: center;
    margin: 30px 0 50px 0;;;
}

.wrapper {
    padding: 20px;
    width: 90%; 
    margin: 0 auto; 
}

/* PAGE 1 */
.page1 {
    display: block;
    padding: 10px;
}

.sublabel1 {
    font-size: 19px;
    margin-bottom: 40px;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 30px;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    row-gap: 30px;
    margin-bottom: 20px;
}

.row1 label, 
.details-grid label {
    display: block;
    margin-bottom: 5px;
}

.row1 input,
.details-grid input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #eeeeee;
}

select {
    width: 100%;
    height: 40px;
    padding-inline: 10px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    background-color: #eeeeee;
}

.select-group select {
    width: 100%;
    height: 40px;
    padding-inline: 10px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    background-color: #eeeeee;
}

.page1 .row1 select,
.page2 .place-grid select,
.page3 .address-grid select {
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #eeeeee;
}

.page2 .place-grid select {
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #eeeeee;
}

.sex-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sex-options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.status-container {
    position: relative;
    display: inline-block;
    width: 100%;  
}

#civilStatus,
#otherStatus {
    width: 100%; 
}
/* END OF PAGE 1 */

/* PAGE 2 */
.page2 {
    display: none;
    padding: 10px;
}

.sublabel2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.place-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
    row-gap: 30px; 
}

.place-grid label {
    display: block;
    margin-bottom: 5px;
}

.place-grid input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #eeeeee;
}

.hide-country {
    display: none;
}

/* END OF PAGE 2 */

/* PAGE 3 */
.page3 {
    display: none;
    padding: 10px;
    margin-top: -25px;
}

.sublabel3 {
    font-size: 20px;
    margin-bottom: 35px;
}

.address-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
    row-gap: 30px;
}

.address-grid label {
    display: block;
    margin-bottom: 5px;
}

.address-grid input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #eeeeee;
}
/* END OF PAGE 3 */

/* PAGE 4 */
.page4 {
    display: none;
    padding: 10px;
}

.sublabel4 {
    font-size: 20px;
    margin-bottom: 30px;
}

.parent-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
    row-gap: 30px;
}

.parent-grid .section-label {
    grid-column: span 3; 
    font-size: 18px;
    margin-bottom: -10px;
}

.section-label1 {
    grid-column: span 3; 
    font-size: 18px;
    margin-top: 10px;
}

.parent-grid label {
    display: block;
    margin-bottom: 5px;
}

.parent-grid input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #eeeeee;
}
/* END OF PAGE 4 */

input[type=text], input[type=date] {
    padding: 12px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    background-color: #eeeeee;
}

input[type=radio] {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    accent-color: black; 
}

.form-group select {
    width: 100%;
    height: 40px;
    padding-inline: 10px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    background-color: #eeeeee;
}

.btn, .btn1 {
    width: 150px;
    padding: 5px;
    position: fixed;
    margin: 40px 0 0 1120px;
}

.done, .next {
    width: 100%;
    height: 40px;
    padding-inline: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #007b82;
    cursor: pointer;
}

.back-arrow {
    position: absolute;
    top: 20px; 
    left: 20px; 
    font-size: 24px;
    cursor: pointer;
    color: #007b82; 
}


input.error {
    border: 2px solid red;
}

span.error {
    color: red;
    font-size: 12px;
    display: block; 
    margin-top: 5px;
}

select.error {
    border: 2px solid red;
}

input[type=radio].error {
    border: 2px solid red;
} 


.output_display {
    display: none;
    width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
}

.output_display h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    text-align: center;
    margin-bottom: 10px;
}

.field-container {
    text-align: center;
    margin-bottom: 10px;
}

.output_display label {
    font-weight: 500;
    text-align: center;
}

.field-container p {
    color: #585858;
    text-align: center;
}